@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --background-gray: #d0d2d2;
  --background-graygreen: rgb(249, 250, 247);
  --background-white: rgb(250, 250, 250);
  --accent-blue: rgb(80, 150, 175);
  --active-blue: rgb(5, 180, 245);
  --text-black: rgb(0, 0, 0);

  --width-widescreen: 60rem;
  --width-midscreen: 80%;
  --width-smallscreen: 90%;
}

html {
  overflow: auto;
  scroll-behavior: smooth;
}

body {
  display: flex;
  background-color: var(--background-graygreen);
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  margin: auto;
  min-height: 100vh;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Navigation */

.navbar {
  align-items: center;
  background-color: var(--background-graygreen);
  display: flex;
  justify-content: space-between;
  max-height: 4.8em;
  position: sticky !important;
  top: 0;
  width: 100%;
}

.navbar a {
  color: var(--text-black);
  text-decoration: none;
}

.navbar a:hover,
.navbar a.active {
  text-decoration: underline;
}

.logo-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 1rem;
}

.logo-container a {
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav-title {
  margin-left: 0.6em;
}

.logo-img {
  height: 2.8em;
  margin: 0 auto 0.8em auto;
  width: auto;
}

.links-container {
  font-size: large;
  margin-right: 2rem;
  overflow: hidden;
}

.links-container li {
  display: inline;
  list-style: none;
  padding: 1rem;
}

.links-container a {
  display: inline-block;
  text-align: center;
}

.toggle-button {
  display: none;
  margin-right: 2rem;
}

main {
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Page content */

.page-content {
  background-color: var(--background-white);
  border-radius: 1rem;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  width: var(--width-widescreen);
}

.page-content h1 {
  font-size: xx-large;
  margin-top: 0.5rem;
}

.page-content h2 {
  margin-bottom: 0.25rem;
}

.page-content p {
  margin: auto;
  width: 80%;
}

.paragraphs-container {
  text-align: left;
  text-indent: 2rem;
}

/* Modals */
.modal {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: default;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
}

.modal-content {
  background-color: var(--background-white);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  padding: 0 1rem 1rem;
  width: 80%;
  max-width: 50rem;
}

.modal img {
  border-radius: 0.5rem;
  margin: auto;
  width: 80%;
  height: auto;
}

.modal-close {
  cursor: pointer;
  font-size: 36px;
  font-weight: bold;
}

.modal-hidden {
  display: none;
}

/* About section */

.members-section {
  display: none;
}

.member {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
}

.member-name {
  margin: 0;
}

.member-title {
  font-size: 1em;
  margin-top: 0.5em;
}

.members-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.members {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 10px;
  display: flex;
  height: 4rem;
  margin: 1rem;
  padding: 0.5rem;
}

.members img {
  border-radius: 50%;
  height: 100%;
}

.members h3 {
  font-size: large;
  margin-left: 0.8rem;
  vertical-align: middle;
}

.member-description {
  justify-content: start;
  color: var(--text-black);
  margin-left: 1.5rem;
  text-decoration: none;
}

.member-description h2 {
  font-size: large;
}

.brand-icons {
  display: flex;
  color: var(--accent-blue);
  margin: auto;
  margin-right: 0.5rem;
  width: fit-content;
}

/* Projects section */

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projects-container a {
  color: var(--text-black);
  text-decoration: none;
}

.project-card {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
  height: 85%;
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
  transition: height 1s;
}

.project-card img {
  border-radius: 0.5rem;
  margin: auto;
  max-width: 70rem;
  width: 100%;
}

.project-card h2 {
  margin-top: 0.5rem;
}

.project-card p {
  margin-bottom: 0.5rem;
}

.description-button {
  cursor: pointer;
}

/* News Section */

.news-container {
  display: flex;
  justify-content: center;
}

.news-card {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
  margin: auto;
  padding: 0.1rem 1rem;
  text-align: left;
  width: 90%;
}

.news-card img {
  border-radius: 0.5rem;
  margin: auto;
  max-width: 70rem;
  width: 100%;
}

.news-link {
  color: var(--accent-blue);
}

#news-osdpcertificates {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}

#news-osdpcertificates img {
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  max-width: 25rem;
  width: 80%;
}

.news-card p {
  width: 100%;
}

.news-header {
  margin-bottom: 2rem;
}

.news-date {
  font-size: large;
  font-weight: 400;
  margin-top: -1rem;
}

/* Blog Section */

.blog {
  display: none;
}

.blog-container {
  display: flex;
  justify-content: center;
}

.blog-card {
  border-radius: 1rem;
  margin: auto;
  padding: 0.1rem 1rem;
  text-align: left;
  width: 90%;
}

.blog-card p {
  width: 100%;
}

.blog-header {
  margin-bottom: 2rem;
}

/* Contact Page */

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
}

.contact-form label {
  margin: auto;
}

.contact-input {
  border-radius: 0.5rem;
  margin: 0.5rem auto 1rem;
  padding: 0.5rem;
  width: 50ch;
}

.contact-button {
  background-color: var(--accent-blue);
  border-radius: 0.5rem;
  color: var(--background-white);
  font-size: medium;
  margin: auto;
  padding: 0.5rem;
  width: 5rem;
}

.form-alert {
  border-radius: 1rem;
}

.form-alert-button {
  background-color: var(--accent-blue) !important;
  color: var(--background-white) !important;
}

/* Footer */

.footer {
  background-color: var(--background-graygreen);
  bottom: 0;
  height: 30px;
  left: 0;
  margin: 0.5rem;
  width: 100%;
}

.copyright {
  display: flex;
  justify-content: center;
}

/* Links */

a {
  color: var(--text-black);
  text-decoration: none;
}

a h1:hover,
a h1:active {
  text-decoration: underline;
}

.current-page-link {
  text-decoration: underline !important;
}

.external-link {
  color: var(--accent-blue);
  margin-left: 0.3rem;
  text-decoration: underline;
}

.external-link:hover {
  color: var(--active-blue);
}

/* Hoverables */

.hoverable div {
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px;
  transition: box-shadow 0.25s;
}

.hoverable div:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0 5px 10px;
}

.hoverable div div,
.hoverable div div:hover {
  box-shadow: none;
}

/* Misc */

.extra-info {
  height: auto;
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 1s;
}

.extra-info a {
  font-size: large;
}

.hide {
  max-height: 0;
}

.fullsize {
  background-color: var(--background-white);
  height: auto;
  margin: auto;
  margin-bottom: 2rem;
  width: var(--width-widescreen);
}

.fullsize h2 {
  margin-top: 1.5rem;
}

.additional-description {
  color: var(--accent-blue);
  display: flex;
  font-weight: 600;
  justify-content: end;
}

.chevron-icon {
  cursor: pointer;
  margin: 1rem 0.5rem;
  transition: transform 0.5s;
}

.chevron-icon .tooltiptext {
  background-color: rgb(12, 25, 12);
  border-radius: 6px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  padding: 1rem;
  visibility: hidden;
  width: auto;

  text-align: center;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.chevron-icon:hover .tooltiptext {
  visibility: visible;
}

.rotated {
  transform: rotate(180deg);
}

@media (max-width: 1200px) {
  .page-content {
    width: var(--width-midscreen);
  }

  .fullsize {
    width: var(--width-midscreen) !important;
  }

  .links-container {
    background-color: var(--background-graygreen);
    height: auto;
    justify-content: center;
    max-height: 500px;
    position: fixed;
    top: 5rem;
    transition: max-height 1s;
    width: 100%;
  }

  .links-container a {
    display: block;
  }

  .toggle-button {
    display: block;
  }

  .hide-nav {
    max-height: 0;
  }
}

@media (max-width: 720px) {
  .page-content {
    width: var(--width-smallscreen);
  }

  .members-container {
    grid-template-columns: 1fr;
  }

  .projects-container {
    grid-template-columns: 1fr;
  }

  .contact-input {
    width: 90%;
  }

  .fullsize {
    width: var(--width-smallscreen) !important;
  }
}
